/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #4fbc85 -29.09%,
    #4f75bc 51.77%,
    #113662 129.35%
  );
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

space-between {
  justify-content: space-between;
}

textarea {
  box-sizing: border-box;
  width: 320px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 8px 12px;
  border-radius: 8px;
  color: #000000;
  background: #fff;
  border: 1px solid #000000;
  width: 100%;
}
textarea:focus {
  border-color: #000000;
  outline: none;
}
pre {
  font-family: 'IBM Plex Sans', sans-serif;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.process-text {
  font-family: 'IBM Plex Sans', sans-serif;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.info {
  background-color: rgba(75, 75, 231, 0.1); /* Blue color with 50% opacity */
  padding: 20px;
  border-radius: 10px;
  color: white; /* Text color */
  font-family: Arial, sans-serif;
  font-size: 16px;
  max-width: 500px;
  margin: 20px auto; /* Center the div */
}
/* textarea:hover {
  border-color: #3399FF;
}

textarea:focus {
  border-color: #3399FF;
  box-shadow: 0 0 0 3px #0072E5;
} */